/* $grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);*/


@import url(navabar.css);
@import url(card.css);


body{
    font-family: Arial, Helvetica, sans-serif;
}

/* my utility */

.bg_grey{
    background-color: #BEBCBB;
}

.bg_dark_blue{
    background-color: #161C3B;
}

.section:not(.full-height){
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* bg-jumbo */
.section .bg-jumbo{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.section .bg-jumbo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.bg-jumbo + .container .jumbo-bg-content{
    padding-top: 20rem;
    padding-bottom: 3rem;
}


/* slider */
.slider .slider-img{
    width: 100%;
    border-radius: 20px;
}

.slider .slider-link{
    display: inline-block;
    transition: all .6s;
}

.slider .slider-link:hover{
    transform: translateY(-2.5rem)
}

/* bg-cooperative */
.section.bg-cooperative{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section.bg-cooperative img{
    width: 60%;
    padding-bottom: 2rem;
}

.btn-light {
    color: #376BE5;
    background-color: #D9DADC;
    border-color: #D9DADC;
}


.banner-img{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
}




/* footer */
footer .img-language{
    width: 20px;
    margin-right: 1rem;
}

footer .footer-list{
    list-style: none;
}

footer .footer-list li a{
    color: white;
    text-decoration: none;
    
}